@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Styles for Desktop*/

:root {
    --cor01: hsl(0, 0%, 100%);
    --cor02: hsl(30, 38%, 92%);
    --cor03: hsl(228, 12%, 48%);
    --cor04: hsl(212, 21%, 14%);
    --cor05: hsl(158, 36%, 37%);
    --cor06: hsl(158, 42%, 18%);

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-titulo: "Montserrat", sans-serif;
    --fonte-texto: "Fraunces", serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    position: relative;
    min-width: 98vw;
    min-height: 97vh;
    background-color: var(--cor02);
    font-family: var(--fonte-padrao);
}

@media (orientation: landscape){
    main{
        position: absolute;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        
        display: flex;
        width: 605px;
        height: 420px;
    }

    img.perfume-img-mobile{
    width: 350px;
    height: 430px;
    background-size: contain;
    border-radius: 10px 10px 10px 10px;
    }

    div > p.title{
    padding: 30px 10px 0px 30px;
    }

    div > h1.perfume-name{
    padding-left: 30px;
    font-size: 2em;
    line-height: 1em;   
    }

    div > p.resume{
    padding: 0px 10px 0px 30px;
    font-size: 0.9em;
    }

    div > p.price{
    padding: 20px 10px 20px 30px;
    }

    div.cart-button{
    background-color: var(--cor05);
    padding: 10px;
    margin: 10px 30px;
    
    }

}